{clean_files, ["test/*.beam"]}.

{deps, [
  %% dependencies
  {swirl_ql, "0.1.2",
    {git, "https://github.com/lpgauth/swirl-ql.git", {tag, "v0.1.2"}}},
  {swirl_ui, "0.1",
    {git, "https://github.com/lpgauth/swirl-ui.git", {branch, "dev"}}},
  {uuid, "1.3.1",
    {git, "https://github.com/okeuday/uuid.git", {tag, "v1.3.1"}}},

  %% tests
  {etest, "1.0.0.beta",
    {git, "https://github.com/wooga/etest.git", {branch, "master"}}}
]}.

{erl_opts, [
  warnings_as_errors
]}.

{xrl_opts, [
  warnings_as_errors,
  {report, false},
  {verbose, true}
]}.

{yrl_opts, [
  warnings_as_errors,
  {report, false},
  {verbose, true}
]}.
