{deps, [
  %% dependencies
  {uuid, "1.2.5",
    {git, "http://github.com/okeuday/uuid.git", {tag, "v1.2.5"}}},

  %% tests
  {etest, "1.0.0.beta",
    {git, "http://github.com/wooga/etest.git", {branch, "master"}}}
]}.

{erl_opts, [
  warnings_as_errors
]}.

{xrl_opts, [
  warnings_as_errors,
  {report, false},
  {verbose, true}
]}.

{yrl_opts, [
  warnings_as_errors,
  {report, false},
  {verbose, true}
]}.