{clean_files, ["test/*.beam"]}.

{deps, [
  %% dependencies
  {uuid, "1.3.1",
    {git, "https://github.com/okeuday/uuid.git", {tag, "v1.3.1"}}},

  %% tests
  {etest, "1.0.0.beta",
    {git, "https://github.com/wooga/etest.git", {branch, "master"}}},

  %% docs
  {edown, ".*",
    {git, "https://github.com/uwiger/edown.git", "HEAD"}}
]}.

{edoc_opts, [
  {app_default, "http://www.erlang.org/doc/man"},
  {doclet, edown_doclet},
  {image, ""},
  {includes, ["include"]},
  {preprocess, true},
  {stylesheet, ""},
  {title, "swirl"},
  {top_level_readme, {"./README.md", "http://github.com/lpgauth/swirl"}}
]}.

{erl_opts, [
  warnings_as_errors
]}.

{xrl_opts, [
  warnings_as_errors,
  {report, false},
  {verbose, true}
]}.

{yrl_opts, [
  warnings_as_errors,
  {report, false},
  {verbose, true}
]}.
